<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB">

    <link rel="stylesheet" type="text/css" href="css/highlight-atom-one-light.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">

    <title>Informatik-Pulsar</title>
    <meta name="Description" content="A project about AI made by students!"></meta>

    <script>
        // Check that service workers are registered
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/sw.js');
            });
        }
    </script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://informatikpulsar2.mcsanthy.de/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <script src="js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"></script>

    <script src="js/highlight.pack.js"></script>
    <script src="js/marked.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="?p:" onclick="return loadPage('?p:');">Informatik Pulsar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="?p:" onclick="return loadPage('?p:');">Startseite <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?p:about" onclick="return loadPage('?p:about');">Mehr Informationen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://ev-schule-zentrum.de/">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="container">
            <div id="content"></div>
        </div>
    </main>

    <presets style="display: none;">
        <div id="preset_previewcard">
            <div class="card w-75 w-sm-100 mx-auto #border-dark shadow-sm">
                <!-- <div class="card-header">
                    {{ title }}
                </div> -->
                <div class="card-body">
                    <h5 class="card-title">{{ titlelink }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ authoredby }}</h6>
                    <div class="card-text">{{ shortbody }}</div>

                    <!-- <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
            <br />
        </div>
    </presets>
    
    <script src="js/main.js" defer async></script>
</body>

</html>
